<!-- Footer
  ============================================= -->
<footer id="footer">
    <section class="section bg-light shadow-md pt-4 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <fa-icon [icon]="faUser"></fa-icon> </div>
                        <h4>Register</h4>
                        <p>Complete registration using a valid coupon code obtained from official vendor.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <fa-icon [icon]="faBook"></fa-icon> </div>
                        <h4>Take a course</h4>
                        <p>Get access to all available course content</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"> <fa-icon [icon]="faUser"></fa-icon> </div>
                        <h4>Refer & Earn</h4>
                        <p>Invite two friends to sign up using your username or link and Your two downline also invite one person each.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon"><fa-icon [icon]="faMoneyBillWave"></fa-icon> </div>
                        <h4>Get Paid</h4>
                        <p>Once the chain is completed, click withdraw earning and you get paid within 24 hours</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="footer-copyright">
            <ul class="nav justify-content-center">
                <li class="nav-item"> <a class="nav-link " href="#">Buy Coupon</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Support</a> </li>
            </ul>
            <p class="copyright-text"> @ 2021 <a href="#">Gemstone</a>. All Rights Reserved  |</p>
        </div>
    </div>
</footer>
