<!-- Header============================================= -->
<header id="header" class="bg-primary header-text-light">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">

                <!-- Logo
                ============================================= -->
                <div class="logo"> <a routerLink="/" title="Gemstone "><img src="../../assets/img/logolight.png" alt="Gemstone" width="127" height="29" /></a> </div>
                <!-- Logo end -->

            </div>
            <div class="header-column justify-content-end">

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="active"> <a class="dropdown-toggle " routerLink="" style="color:#0071cc;">Home</a></li>
                            <li> <a  href="#" style="color:#0071cc;">Buy Coupon</a></li>
                            <li> <a  href="#" style="color:#0071cc;">About Us</a></li>
                            <li> <a   href="#" style="color:#0071cc;">Contact Us</a></li>
                            <li> <a  href="#" style="color:#0071cc;">Support</a></li>
                            <li> <a  href="#" style="color:#0071cc;">Privacy Policy</a></li>
                            <li *ngIf="sessions;then content else other_content"></li>
                            <ng-template #other_content>
                                <li class="dropdown login-signup ml-lg-2"><a class="dropdown-toggle pl-lg-4 pr-0"  [routerLink]="['/login']" title="Login/Register" style="color:#0071cc;">Login/Register <span class="d-none d-lg-inline-block"></span></a>
                                </li>
                                <li><a [routerLink]="['/login']" style="color:#0071cc;">Login</a></li>
                                <li><a  [routerLink]="['/register']" style="color:#0071cc;">Sign Up</a></li>
                            </ng-template>
                            <ng-template #content>
                                <li class="dropdown login-signup ml-lg-2">
                                    <ng-container *ngIf="user">
                                        <a class="dropdown-toggle pl-lg-4 pr-0" routerLink="/dashboard" title="{{ user['name'] }}" style="color:#0071cc;">{{ user['name'] }}
                                            <span class="d-lg-inline-block">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        </a>
                                    </ng-container>
                                </li>
                                <li><a routerLink="/settings" style="color:#0071cc;">Settings</a></li>
                                <li><a href="JavaScript:void(0)" style="color:#0071cc;" (click)="logout()">Logout</a></li>
                            </ng-template>
                        </ul>
                    </div>
                </nav>          <!-- Primary Navigation end -->
            </div>
            <!-- Collapse Button
            ============================================= -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
        </div>
    </div>
</header>
