<!-- Preloader End -->
<div id="main-wrapper">
    <app-navbar></app-navbar>
    <!-- Header end -->
    <main class="py-4">
        <!-- Content
    ============================================= -->
    <div id="content">
    <div class="hero-wrap py-2 py-md-3 py-lg-4">
        <div class="hero-mask opacity-3 bg-dark"></div>
        <div class="hero-bg" style="background-image:url('../../../assets/img/bg/image6.jpg');"></div>
        <div class="hero-content py-3 py-lg-5 my-3 my-md-5">
            <div class="container">
                <!-- Tabs -->
                <!-- Welcome Text
                ============================================= -->
                <!-- Tabs -->
                <div class="tab-content  shadow-md rounded rounded-top-0 px-4 pt-4 pb-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                        <div class="form-row">
                            <div class="offset-lg-2  col-lg-8 form-group">
                                <div class="text-center mt-5">
                                    <h2 class="text-9 font-weight-300 text-light text-center">Get equipped with information that will shape your finance.<br/>
                                        <small>refer and earn today</small>
                                    </h2>
                                    <a class="btn btn-outline-light mt-3 mt-md-4"  [routerLink]="['/login']" routerLinkActive="active" title="Get Started">Get Started</a>
                                    <!--
                                    @elseguest
                                    <a class="btn btn-outline-light mt-3 mt-md-4"  href="{{ route('dashboard') }}" title="{{ __('YOur Dashboard') }}">{{ __('Visit Your Dashboard') }}</a>
                                    @endguest
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tabs End -->
            </div>
        </div>
    </div>
    <!-- Why choose
    ============================================= -->
    <section class="section bg-light shadow-md">
        <div class="container">

            <h2 class="text-9 font-weight-500 text-center">Why Choose Gemstone?</h2>
            <p class="lead text-center mb-5">a platform where you mine both knowledge and money!</p>
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="featured-box mb-5 style-3">
                                <div class="featured-box-icon border text-primary rounded-circle"> <fa-icon [icon]="faPiggyBank"></fa-icon> </div>
                                <h3>affordable plans</h3>
                                <p>plans available at a pocket friendly rates</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="featured-box mb-5 style-3">
                                <div class="featured-box-icon border text-primary rounded-circle"> <fa-icon [icon]="faRocket"></fa-icon> </div>
                                <h3>Fast</h3>
                                <p>Get your coupon and do your registration on the go!</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="featured-box mb-5 style-3">
                                <div class="featured-box-icon border text-primary rounded-circle"> <fa-icon [icon]="faFileAlt"></fa-icon> </div>
                                <h3>Simple</h3>
                                <p>complete your 4 persons matrix and withdraw.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="featured-box mb-5 style-3">
                                <div class="featured-box-icon border text-primary rounded-circle"> <fa-icon [icon]="faHandsHelping"></fa-icon> </div>
                                <h3>Trust pay</h3>
                                <p>100% Payment Protection.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="featured-box mb-5 style-3">
                                <div class="featured-box-icon border text-primary rounded-circle"> <fa-icon [icon]="faLock"></fa-icon> </div>
                                <h3>100% Secure</h3>
                                <p>personal information are secured</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="featured-box mb-5 style-3">
                                <div class="featured-box-icon border text-primary rounded-circle"> <fa-icon [icon]="faLifeRing"></fa-icon> </div>
                                <h3>24X7 Support</h3>
                                <p>We are here to help. Have a query and need help? <a href="#">Click here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why choose end -->
    <!-- Refer & Earn
    ============================================= -->
    <section class="hero-wrap section shadow-md">
        <div class="hero-mask opacity-5 bg-dark"></div>
        <div class="hero-bg" style="background-image:url('../../../assets/img/bg/image7.jpg');"></div>
        <div class="hero-content">
            <div class="container">
                <h2 class="text-9 font-weight-500 text-light text-center">Available Packages</h2>
                <p class="lead text-light opacity-8 text-center mb-5">Select from our range of packages</p>
                <div class="row">
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="featured-box text-center p-4">
                            <div class="hero-mask opacity-7 bg-dark rounded"></div>
                            <div class="hero-content">
                                <div class="featured-box-icons shadow-none text-light"> <i class="fas ">Regular 1</i> </div>
                                <hr style="background-color:white"/>
                                <h3 class="text-light"></h3>
                                <h2  class="text-center text-capitalize text-light opacity-8">₦1,000</h2>

                                <span class="badge badge-primary badge-pill">3 Levels</span>
                                <p class="text-3 text-light opacity-8">₦2,500 Returns</p>
                                <hr style="background-color:white"/>
                                <p class="text-3 text-light opacity-8">Total Downlines: 4</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="featured-box text-center p-4">
                            <div class="hero-mask opacity-7 bg-primary rounded"></div>
                            <div class="hero-content">
                                <div class="featured-box-icons shadow-none text-light"> <i class="fas ">business</i> </div>
                                <hr style="background-color:white"/>
                                <h3 class="text-light"></h3>
                                <h2  class="text-center text-capitalize text-light opacity-8">₦2,000</h2>

                                <span class="badge badge-info badge-pill">3 Levels</span>
                                <p class="text-3 text-light opacity-8">₦5,000 Returns</p>
                                <hr style="background-color:white"/>
                                <p class="text-3 text-light opacity-8">Total Downlines: 4</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="featured-box text-center p-4">
                            <div class="hero-mask opacity-7 bg-dark rounded"></div>
                            <div class="hero-content">
                                <div class="featured-box-icons shadow-none text-light"> <i class="fas ">VIP</i> </div>
                                <hr style="background-color:white"/>
                                <h3 class="text-light"></h3>
                                <h2  class="text-center text-capitalize text-light opacity-8">4,000</h2>

                                <span class="badge badge-primary badge-pill">3 Levels</span>
                                <p class="text-3 text-light opacity-8">₦10,000 Returns</p>
                                <hr style="background-color:white"/>
                                <p class="text-3 text-light opacity-8">Total Downlines: 4</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center pt-5">
                    <a class="btn btn-outline-light shadow-none"  routerLink="/login" title="Get Started">Get Started</a>
                    <!--
                    @elseguest
                    <a class="btn btn-outline-light shadow-none"  href="#" title="YOur Dashboard">Visit Your Dashboard</a>
                    @endguest
                    -->
                </div>
            </div>
        </div>
    </section>
    <!-- Refer & Earn end -->

</div>
    </main>
</div>
<app-footer></app-footer>

