<!-- Preloader End -->
<div id="main-wrapper">
    <app-navbar></app-navbar>
    <!-- Header end -->
    <main class="py-4">
        <!-- Content
    ============================================= -->
    <div id="content">
    <div class="container">
        <div id="login-signup-page" class="bg-light shadow-md rounded mx-auto p-4">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"> <a id="login-page-tab" class="nav-link active text-4" data-toggle="tab" routerLink="login" role="tab" aria-controls="login" aria-selected="true">Login</a> </li>
                <li class="nav-item"> <a id="signup-page-tab" class="nav-link text-4"  routerLink="/register" role="tab">Register</a> </li>
            </ul>
            <div class="tab-content pt-4">
                <div class="tab-pane fade show active" id="loginPage" role="tabpanel" aria-labelledby="login-page-tab">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input id="username"  placeholder="Enter Your Username" type="text" formControlName="username" class="form-control" name="username" autocomplete="none" required autofocus>
                           <div *ngIf="login.username.touched && login.username.invalid">
                             <div *ngIf="login.username.hasError('required')">
                                 <span class="invalid-feedback" role="alert">
                                    <strong>Input a Username</strong>
                                </span>
                             </div>
                           </div>
                        </div>
                        <div class="form-group">
                            <input  id="password" placeholder="Enter Your Password" formControlName="password" type="password" class="form-control" name="password" required autocomplete="none">
                            <div *ngIf="login.password.touched && login.password.invalid">
                                <div *ngIf="login.password.hasError('required')" >
                                  <span class="invalid-feedback" role="alert">
                                     <strong>Password is required</strong>
                                  </span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-sm">
                                <div class="form-check custom-control custom-checkbox">
                                    <input class="form-check-input" type="checkbox" checked formControlName="remember" name="remember" id="remember">
                                    <label class="form-check-label" for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <div *ngIf="login.username.invalid || login.password.invalid ;then disbt else enbtn"></div>
                                <ng-template #disbt>
                                    <button disabled  class="btn btn-primary">
                                        Login
                                    </button>
                                </ng-template>
                                <ng-template #enbtn>
                                    <button type="submit"  class="btn btn-primary">
                                        Login
                                    </button>
                                </ng-template>
                                <a class="btn btn-link" href="#">
                                    Forgot Your Password?
                                </a>
                            </div>
                            <div *ngIf="error !== ''">
                                <span class="invalid-feedback text-danger" role="alert">
                                     <strong>{{ error }}</strong>
                                  </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </main>
</div>
<app-footer></app-footer>
